$primary-color1: #f13c6e;
$primary-color2: #333333;
$primary-color3: #efefef;

// RESET
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary-color2;
}

ul,
li {
  list-style-type: none;
}

// base

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

// header

.header {
  &__nav {
    background-color: $primary-color3;
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &-link {
      font-size: 14px;
      line-height: 114.28%;
      color: $primary-color2;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__main {
    padding: 20px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-logo {
      display: flex;
      align-items: center;
      &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 116.6%;
        letter-spacing: 0.1em;
        color: $primary-color1;
        text-transform: uppercase;
        margin-left: 20px;
      }
    }
  }
  &__search-block {
    background: $primary-color3;

    border-radius: 40px;

    display: flex;
    align-items: center;

    width: 250px;

    .header__search {
      outline: none;
      height: 40px;
      border: none;
      background: transparent;
    }
    img {
      margin-left: 20px;
      margin-top: 3px;
      margin-right: 5px;
    }
  }
  &__callback-block {
    font-size: 16px;
    line-height: 118.75%;
    color: #000000;
    display: flex;
    align-items: center;
    .callback-btn {
      display: inline-block;
      padding: 13px 27px;
      border: 2px solid $primary-color1;
      border-radius: 40px;
      font-size: 14px;
      line-height: 16px;

      margin-left: 40px;
      transition: border-color 0.2s ease;
      &:hover {
        border-color: $primary-color2;
      }
    }
  }
  &__hero {
    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: #fff;
    .header__hero-content {
      padding-top: 217.43px;
      &-title {
        font-weight: bold;
        font-size: 48px;
        line-height: 116.66%;
        margin-bottom: 56px;
      }
      &-descr {
        margin-bottom: 56px;
        font-size: 14px;
        line-height: 143%;
      }
      &-btn {
        color: inherit;
        padding: 14px 39px;

        background: $primary-color1;
        border: 2px solid #fff;
        border-radius: 40px;
        letter-spacing: 0.05em;
        display: inline-block;
        margin-bottom: 218px;

        transition: border-color 0.2s ease;
        &:hover {
          border-color: $primary-color2;
        }
      }
    }
  }
}
